@import '../../styles/sharedStyles.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.servicesMenu {
  @extend .cardGrid;
  margin-bottom: 20px;
}

.rightContent {
  width: 100%;
  max-width: 1200px;
}

.categoryTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.businessCards {
  @extend .cardGrid;
  justify-content: center;
}

.customBusinessCard {
  max-width: 300px;
}
