.container {
  display: flex;
  padding: 20px 50px 0 50px;
  width: 100%;
}

.servicesMenu {
  width: 40%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 5%;

  @media (min-width: 600px) {
    width: 30%;
    margin-right: 2%;
  }

  @media (min-width: 768px) {
    width: 30%;
    margin-right: 4%;
  }

  @media (min-width: 1024px) {
    width: 20%;
    margin-right: 4%;
  }

  .menuCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: none;
    box-shadow: none;
    box-sizing: border-box;

    .icon {
      margin-right: 20px;
      font-size: 18px;
    }

    &:hover {
      color: #007bff;
      transform: none;
      border-color: #007bff;
    }

    &.active {
      color: #007bff;
    }
  }
}

.rightContent {
  width: 100%;

  @media (min-width: 600px) {
    width: 70%;
  }

  @media (min-width: 768px) {
    width: 70%;
  }

  @media (min-width: 1024px) {
    width: 80%;
  }
}

.categoryTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.businessCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    justify-content: center;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: center;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    justify-content: center;
  }
}

.customBusinessCard {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
