.cardList {
  display: flex;
  gap: 20px;
  padding: 16px;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to top, #7dbcff, white);
}

.cardListContainer {
  width: 60%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 16px;
}

@media (min-width: 768px) {
  .cardListContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
