.cardList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f2f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

@media (min-width: 480px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cardList {
    grid-template-columns: repeat(6, 1fr);
  }
}
