.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.searchWrapper {
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .home {
    padding: 40px;
  }
  .searchWrapper {
    margin-bottom: 50px;
  }
}
