.cardList {
  display: flex;
  padding: 16px;
  justify-content: center;
  width: 100%;
  background: linear-gradient(
    to left,
    transparent 0%,
    #9ab3ce 50%,
    transparent 100%
  );
}

.cardListContainer {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (min-width: 482px) {
  .cardListContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .cardListContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
