.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 100%;
}

.heading {
  font-family: Calibri;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: -1px;
}

.blue {
  color: #007bff;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 10px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  flex: 1;
  width: 100%;
}

.button {
  background-color: #007bff;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
    padding: 100px 20px;
  }

  .heading {
    font-size: 48px;
  }

  .input {
    flex: 1;
  }

  .button {
    width: 50px;
    height: 50px;
  }
}
